[2018-01-23 14:11] Hedda opened #1 "Port or merge this project to the existing OpenMQTTGateway project?"
@bphermansson might it be a good idea to port or merge this to the existing OpenMQTTGateway project and maybe join their development team (formerly known as 433toMQTTto433 gateway by 1technophile)?

https://github.com/1technophile/OpenMQTTGateway

OpenMQTTGateway is also a ESP8266 and RFM69 (from HopeRF) RF to MQTT project however it also keeps compatibility with ESP32 and Arduino + W5100 too, and

[2018-01-24 07:35] Hedda commented on #1
@bphermansson Florian (a.k.a. @1technophile ) wrote here that should be possible if you are willing:

https://gitter.im/OpenMQTTGateway/Questions_support

OpenMQTTGateway project needs a developer who owns a Sparnas and has own interest to add it

https://github.com/1technophile/OpenMQTTGateway/issues/165

[2018-01-24 19:41] bphermansson commented on #1
Interresting! Seems like a nice project in many ways. I'll take a look and see what can be done.

[2018-01-25 17:06] Hedda commented on #1
@bphermansson  Cool! and FYI; another similar project using ESP8266 and supporting RFM69 is "MySensors":

https://github.com/mysensors/MySensors
https://www.mysensors.org

Interestingly, MySensors (which is a mature project) also happens to come from Swedish developers!

https://github.com/mysensors/MySensors/issues/1034

Posted another seperate feature request for them to implement Sparnas to as

[2018-01-28 08:50] bphermansson opened #3 "Rssi always 0"
The function to get the Rssi from the receiver always returns 0, should return something like -67.
If we set forceTrigger = true in uint16_t readRSSI (line 304) the code crashes when valid data arrives.

[2018-01-30 17:47] swapper82 opened #4 "Issue that values written to MQTT broker does not show the right values"
When publishing to a mosquitto broker (at least)
i got the values {"seq":989,"power":true,"total":true,"battery":100}
Interprited as bolean values or somting?

i "fixed" the issue by changing to float from string (starting line 458 in the main .ino file)

      else {
        root["seq"] = seq;
        root["power"] = float(watt);
        root["total"] = float(pulse / PULSES_PER_KWH);
        root

[2018-02-03 06:49] bphermansson opened #5 "Function to find correct frequency"
The transmitter is assumed to send at exactly 868MHz, but that seems to differ between devices. By trial and errror you can get better reception, by changing FREQUENCY in line 69:

uint32_t FREQUENCY = 867980000

It would be nice if the code could find the best frequency by itself.

[2018-02-03 06:59] bphermansson commented on #4
Your'e welcome!
Ok, I guess the values are interpreted different with different softwares. But the power and total values are indeed numbers, so I see no problem sending them as floats. I've changed this in the main branch, thanks for the report.

[2018-02-03 06:59] #4 closed, assigned to nobody

[2018-02-03 09:38] bphermansson commented on #3
According to the datasheet the rssi can only be read at preamble, ie at start of transmission. The code tries to read it after receiving is done, it should not work. Let's see if we can get and interrupt at the start of transmission and read rssi there instead.

[2018-02-04 07:28] bphermansson commented on #3
You can also read Rssi just before you read the received package. This is now implemented and this problem is solved.

[2018-02-04 07:28] #3 closed, assigned to nobody

[2018-02-11 15:40] pettib opened #6 "Compilation problem"
Hi
I´m trying to compile to project and got error that functions can not be found.
I´m guessing there are something missing, but cant find it.
The board is Wemos D1 running at 115200.

[error.txt](https://github.com/bphermansson/EspSparsnasGateway/files/1714513/error.txt)

regards Peter

[2018-02-12 14:39] bphermansson opened #7 "Use a Mqtt ping to avoid disconnection"
Make the device send a Mqtt message, a "ping", at regular intervalls to avoid disconnection from the broker.

[2018-02-12 14:46] bphermansson opened #8 "Setting the frequency via Mqtt"
Let the code listen for incoming Mqtt messages with a setting for the receiver frequency. To set the frequency, send something like this:
mosquitto_pub -h 192.168.1.79 -t 'EspSparsnasGateway/settings' -m '{freq:867.999939}'

[2018-02-12 14:50] fredrike commented on #8
Is it possible to set the sensor ID too?

[2018-02-12 15:08] tubalainen opened #9 "Calculates wrongly when low/none power usage"
The code calculates watts extremely oddly when there isnt a significant load, for example, a load greater than 1000 W.

It reports like 39302 watts when there should be 7 W only.

[2018-02-12 20:54] bphermansson commented on #8
That would be nice, will give it a try.

[2018-02-13 05:02] bphermansson opened #10 "Inductor missing in schematic"
Add a inductor (100uH) between the Esp and the Rfm in the schematic.

[2018-02-15 09:40] bphermansson commented on #6
Is this the problem with paths that were solved in the Facebook-thread?

[2018-02-15 09:42] bphermansson commented on #5
The new plan is to make it possible to send frequency to use by Mqtt to the unit. This way it will also be possible to set the sender id and maybe more.

[2018-02-15 09:43] bphermansson commented on #9
This we have to look into. Too bad I only have one sender and it's mounted at the power meter. Will see if it's possible to fake values in the code to trigger this bug.

[2018-02-15 10:13] #10 closed, assigned to nobody

[2018-02-15 10:13] bphermansson commented on #10
Fixed

[2018-02-18 08:06] bphermansson commented on #8
The device can now be controlled via Mqtt. We can set the frequency and the senderid, the settings are stored in the Eeprom. We also can clear the settings and reset the device.
But I think theres a bug when setting the frequency, it gets it wrong somehow?

[2018-02-18 09:30] bphermansson opened #11 "Not all messages are in json"

[2018-02-18 09:31] #5 closed, assigned to nobody

[2018-02-18 19:01] bphermansson opened #12 "Give debug messages a separate Mqtt topic"

[2018-02-18 20:03] Sperra commented on #9
Even I have problems with incorrect and extreme values ​​of effects up to 1.6MW on a 20A main circuit.

The power is calculated according to "watt = (float) ((3600000 / PULSES_PER_KWH) * 1024) / (power);"
Here in the code "power" takes 2bytes.

A high value of "power" will give a low power in W, a value of 65535 produces a minimum power of about 56W. Lower effects seem to get the value of "power"

[2018-02-19 21:20] bphermansson commented on #12
Fixed

[2018-02-19 21:20] #12 closed, assigned to nobody

[2018-02-19 21:32] bphermansson commented on #9
I'm thinking of letting the code just send raw values, calculations then has to be done by the receiver.

Wonder if this error also shows with Strigeus code, https://github.com/strigeus/sparsnas_decoder?

[2018-02-25 06:25] tubalainen commented on #9
Looks like the bug exists in the original code as well. Or, there is something fishy with my sparsnäs used for that measurement (got two here at home). The display shows correct values, but both SDR and ESP solution shows the same..

One "ugly fix" is to consider everything under 100 W as 0 in the code... That would help me.

[2018-02-25 06:46] bphermansson commented on #9
Hmm wait... power is stored in the code as an int, and can therefor be a signed number from -32768 to 32767. The value in the data from the sender is 16 bits with a max of 65535. Not good.
Changing the power type to uint should fix this issue.

[2018-02-25 07:01] bphermansson commented on #9
That fix is in the code now, hope it works.

[2018-02-26 19:24] fredrike commented on #9
According to @tubalainen did the `u_int` not help. I've been talking to @bhaap today and apparently was this issue introduced on @tubalainen's code when I changed `PULSES_PER_KWH` from a defined constant to an `int`.

[code]

Do we have any samples of output with what the `power` is after the change to `u_int`?  Would it be better to have `power` as `uint16_t`?

[2018-03-03 06:01] bphermansson opened #14 "No default value for frequency"
If no frequency is set via Mqtt, the frequency is set to 0. Change this so a default frequency is used instead. "if freq=0 then freq=8680000".

[2018-03-03 06:22] #9 closed, assigned to nobody

[2018-03-03 10:51] bphermansson opened #15 "Web gui for settings"
In addition to Mqtt, we could use a web gui for configuring the board.

[2018-03-29 13:29] pornstrup opened #16 "Cannot upload sketch to NodeMCU"
Im trying to upload your code to the NodeMCU v.3, but always get an error in arduino saying:
call of overloaded 'readRSSI()' is ambiguous

and this line is marked red:
` uint16_t srssi = readRSSI();`
I´ve downloaded the libraries needed but still get the error. Hope you can help, thanks.

Copy of error message:

Arduino: 1.8.5 (Windows 10), Board: "NodeMCU 1.0 (ESP-12E Module), 80 MHz, 4M (1M SPIF

[2018-03-31 04:56] bphermansson commented on #16
You dont need no libraries. Do you have the code in tabs?

![skarmbild fran 2018-03-31 06-56-00](https://user-images.githubusercontent.com/3775861/38159806-a8058666-34b0-11e8-9585-81b7e19bd11a.png)

[2018-03-31 07:03] pornstrup commented on #16
Yes got the codes in tabs. Will try and start from scratch and see if that helps. Will get back to you. Thanks.

[2018-04-07 21:15] Linuxsmurfen commented on #8
Could it be that it sets the "ifreq = 868100000;"  on row 317 ?
I tried to remark it and now i'm able to set the frequency via mqtt.

[2018-04-14 05:56] bphermansson commented on #8
I think that row was for testing. Can you set the frequency and get it right? I haven't managed to get the value set, ie if I set it to 868100000 its reports something like 868000256 back as "Listening on ...".

[2018-04-18 20:20] leifmariposa opened #17 "SPI write problem"
Hi,

I have built my own EspSparsnäsGateway with the same parts as in your parts list, but cannot get SPI to write any values. Reading is fine, I always read the default values of the RFM69, no matter what values I have written. For example, first thing that happens in your program is writing 0xAA to REG_SYNCVALUE1, but it always reads as 0x00.
I have connected a logic analyzer on the SPI signals,

[2018-05-03 16:56] #16 closed, assigned to nobody

[2018-05-03 16:56] bphermansson commented on #17
Have you got any further? Tried another rfm69?

[2018-05-03 16:57] #6 closed, assigned to nobody

[2018-05-03 16:57] #11 closed, assigned to nobody

[2018-05-06 08:42] leifmariposa commented on #17
I tried to simplify the software as much as possible, but of course the didn't help, the output on SPI is the same according to the logicanalyzer and that seems correct to me after reading the data sheet of the RFM69HCW many times. Today I have ordered new nodemcu and rfm69hcw, will be interesting to see if that will work...

[2018-05-08 18:45] leifmariposa commented on #17
OK, got a new nodemcu and a new rfm69hcw but with the same result.
This is what the logic analyzer sees: https://ibb.co/bSVzKS

bphermansson, could you please check your connection?
Because I changed the connection between nodemcu-D8 from EN on rfm69 to CS on rfm69, at least reads are working with this. Should the EN on rfm69 be connected?

When studying the logic analyzer output closer you can se

[2018-05-08 18:48] bphermansson commented on #17
Sorry to hear that. It must be some confusion with the connections. I will take a closer look.
Exactly which components did you buy?

[2018-05-08 18:53] leifmariposa commented on #17
I bought in at Lawicel,

RFM69HCW Transceiver BoB
Artikelnr: ADA-3070

NodeMCU V3 with ESP-12E / CH340
Artikelnr: K-NM-ESP12E

It should be the components that you recommended but your links doesn't work anymore. I think they changed the url's at Lawicel.

[2018-05-09 14:37] bphermansson opened #18 "Broken links"
The Lawicel links are broken.

[2018-05-09 19:42] bphermansson commented on #17
Now I've built another circuit on a protoboard with another RFM69 and another Nodemcu. I used my schematic, unmodified, and the pinout for the Rfm from https://www.mysensors.org/build/connect_radio.
Works just like it should. Hmm.

[2018-05-09 20:08] leifmariposa commented on #17
Thanks for taking the time to investigate!
When checking mysensors.org I can't fint any break out boards, does this mean you connected directly to a RFM69(HCW) ? Because I can't find any EN signal on the RFM69, only on the break out board, and I left it unconnected on my circuit. Could this maybe be the problem?

[2018-05-09 20:36] bphermansson commented on #17
Indeed it can. I used a plain Rfm without any breakout board. As noted in my schematic NSS=En.

[2018-05-11 20:06] leifmariposa commented on #17
OK, so I connected the EN signal on the RFM69 as well, to another output on the nodemcu and then I have tried all possible combinations using the CS and EN signals. NSS=CS, not EN, EN controls the power on/off on the break out board.
So the EN signal must be held high, andwhen it's unconnected it's held high through a pull-up resistor on the break out board.
But I can still not get it to work, fro

[2018-05-15 11:45] bphermansson commented on #17
This is your breakout? https://www.adafruit.com/product/3070
It has a level converter and a voltage regulator. Do you connect 5V to Vin?
I have a RFM to sell if you want, but not many Nodemcu:s.

[2018-05-16 18:19] leifmariposa commented on #17
Yes, that is the breakout I'm using, I have tried with both 3.3V and 5V supply, same problem.
I've recently found this, Adafruit Feather M0 RFM69HCW Packet Radio
https://www.lawicel-shop.se/catalog/product/view/id/5656/s/adafruit-feather-m0-rfm69hcw-packet-radio/
so I will by that one instead to get rid of all this hassle, it's not very expensive.
Anyway, thanks for all your help!

[2018-05-24 07:45] bphermansson commented on #17
Ok, hope that works!

[2018-07-06 17:07] bphermansson opened #19 "'StaticJsonBuffer' was not declared in this scope"
The code fails to compile if you updated ArduinoJson recently. This is because the Library Manager installs version 6.0 beta of ArduinoJson. The solution is to downgrade to the stable version 5.13.2.
See https://github.com/bblanchon/ArduinoJson/issues/756 for more info.

[2018-07-09 07:08] bblanchon commented on #19
You can verify that the right version of ArduinoJson is installed by checking the [ARDUINOJSON_VERSION](https://arduinojson.org/v5/api/utils/version/?utm_source=github&utm_medium=issues) macros.

[2018-08-05 06:29] Freland opened #20 "Listening to the wrong frequency"
For some reason the log gives me "Listening on 1023999936hz. Done in setup." even though I've set the frequency: "Stored frequency: 867999900". Since it is listening to the wrong freq. I don't get any data. I've tried updating the freq. with MQTT with no luck.

Logfile:
[code]

[2018-08-05 14:19] bphermansson commented on #20
I don't get it to work either, haven't found why. See Issue #8 .

[2018-09-05 16:43] Netoperz commented on #19
Yap, i can confirm that bug.
all beta 's have problem, and only 5 works fine, , question is why arduino is pushing the updates to beta versions? should't that be only production version availble and dev only for those who want that ? :D

[2018-09-12 06:36] Naesstrom opened #21 "Text corrections?"
Just wanted to check what instructions to follow, in the build instructions you suggest using a "330-470uF" capacitor but in the links and the schematic it's a 1000uF?

[2018-09-15 06:23] bphermansson commented on #21
I think 330uF is enough but larger wont hurt. Use what you have and have room for.

[2018-09-20 06:19] Naesstrom commented on #21
Sweet, still waiting for my PCB's but think I have all the parts already!
![screen shot 2018-09-20 at 08 18 17](https://user-images.githubusercontent.com/6575206/45799453-e01a8a80-bcad-11e8-8b2b-9bd3107092b6.png)

[2018-10-31 15:52] #21 closed, assigned to nobody

[2018-10-31 15:58] Naesstrom opened #22 "No values?"
So I finally got around to assembling this, even added a sma contact and a 868 antenna to the breakout board.
Serial monitor just gives me this:
[code]
The senderid is the one I entered and the frequency looks right to, the strange thing is that it cuts out before it even tells me the IP... Debug is set to 1 btw.

On the mqtt side of things it repeats the following 4 rows a couple of times
[code]

[2018-10-31 16:55] Naesstrom commented on #22
Did some more debugging, running the ESP with everything but the RFM69 unit I get a complete startup in the serial monitor to... starting to think that my module might be DOA...

[2018-10-31 19:01] bphermansson commented on #22
What esp-module are you using? What kind of power supply?

[2018-11-01 16:29] Naesstrom commented on #22
NodeMCU v3 (lolin) and just USB power from the PC atm.

[2018-11-03 12:55] Naesstrom commented on #22
Running it with a 1A external poweradapter gives me:
[code]
Not sure what it means with `Failed on waiting for ModeReady()`

[2018-11-03 18:04] bphermansson commented on #22
Can you try to set the frequency in the code?

Edit: That should already be done as you have no stored frequency. It seems to fail when initializing the Rfm. Have you checked the wiring? Some other code that uses the Rfm69?

[2018-11-06 17:24] Naesstrom commented on #22
I made a PCB that looks like this from your schematic:
![esp_sparsnas_gateway_mcuv3_schem](https://user-images.githubusercontent.com/6575206/48081728-fe523080-e1f0-11e8-995d-76ba63d1844b.png)
Measured all the connections and they seems to be just fine, even mounted my second RFM now but with the same problem. I'll try and connect them on a breadboard and see if that helps!

And no other code on th

[2018-11-07 19:13] Naesstrom commented on #22
Redid the wiring on a breadboard but still the same result when connecting 12V power... Radio is getting 3.3V to.
[code]

[2018-11-07 20:15] Naesstrom commented on #22
Been googling and trying to find what might be causing it... only thing I found is related to the [rst pin](https://forum.mysensors.org/topic/5954/rfm69-not-initialising-required-reset-could-be-the-cause/5) but since it's been working for you it can't be that!

[2018-11-08 07:42] bphermansson commented on #22
Maybe try another software to see if it's a hardware or software problem? Like this: https://github.com/bbx10/nanohab

[2018-11-08 15:42] Naesstrom commented on #22
yup, that seems to be initializing the radio
[code]
Having some problems with my mqtt atm. tough but thats unrelated.

Just a thought, I'm using a RFM69HCW and in the software you linked he differs between them for some reason with `    radio.setHighPower();    // Only for RFM69HCW & HW!` can that be something?

Sorry for being such a PITA btw

[2018-11-15 08:46] bphermansson commented on #22
Might be, try to comment that line?

[2018-11-19 21:44] Naesstrom commented on #22
Not sure I follow what you mean right now, this software that you linked https://github.com/bbx10/nanohab managed to initialize the radio- The part with `radio.setHighPower` is from that git and not yours.
Do you mean I should comment that out from the above mentioned firmware and see if it still initializes the radio?

[2018-12-10 18:49] Naesstrom commented on #22
After switching mosi/miso I got it booting up atleast... D6 --> MOSI and D7 --> MISO
Can't really understand why since according to all the sheets I can read it shouldn't work this way...
![dsc_0548](https://user-images.githubusercontent.com/6575206/49753810-c25d3000-fcb4-11e8-87dc-69c36885b78a.JPG)

[code]

[2018-12-10 19:05] Freland commented on #22
Seems like it is exactly the same issue I had when I tried getting it up and running a while back ago (https://github.com/bphermansson/EspSparsnasGateway/issues/20 )

[2018-12-10 19:51] Naesstrom commented on #22
hehe, ja det var ditt förslag i [elektronikforumet](http://elektronikforumet.com/forum/viewtopic.php?f=2&t=85006&sid=12e36dbaacd2049680aebbe939121b39&start=390#p1397193) som gav mig iden att testa att switcha plats på dom!
Har du någonsin fått det att fungera @Freland

[2018-12-10 20:02] Naesstrom commented on #8
I commented out the line on 317 to that @Linuxsmurfen mentioned above, using `EspSparsnasGateway/settings/frequency -m 867.99` give me
[code]
Then it reboots and ends the logging with:
[code]
So even if it says it's saved the new data and repeats it as stored it ends with listenin on another frequency?

[2018-12-11 11:57] Naesstrom commented on #22
Efter att ha diskuterat på FB, granskat kopplingsscheman etc. har jag en ny fundering... Enligt sommarlov's skiss så skall ju NSS kopplas till GPIO15 och det skriver @bphermansson i sin schematic!

Kollar jag däremot på Adafruits egna inkopplingsschema för RFM69HCW så har dom ingen koppling till EN då den automatiskt är på men däremot från samma GPIO till CS
![adafruit_products_rfm69_bb](https://u

[2018-12-11 12:08] Naesstrom commented on #22
Typ såhär:
![esp_sparsnas_schem2](https://user-images.githubusercontent.com/6575206/49799666-cb4a1200-fd45-11e8-9466-edcacdbfe267.png)

[2018-12-11 18:26] Naesstrom commented on #22
I'll just continue add my comments, and for some reason return to english...
Tried connecting the cables with D8 going to CS, even tried adding a 10KOhm between GND and D8 but when I have the tha cables correctly connected _(MOSI=MOSI, MISO=MISO) I just keep getting
[code]

I really can't grasp what I'm doing wrong here compared with what the rest have done to get it working, the NodeMCU shouldn't

[2018-12-19 14:33] bphermansson commented on #8
Yes. Haven't managed to figure out why.

[2019-01-06 19:06] kalj opened #24 "Compilation errors with Arduino IDE 1.8.8"
I get error messages like this:

[code]

I had to downgrade to Arduino IDE 1.6.13

[2019-01-06 21:29] kalj commented on #22
Today I hooked up my version of the circuit and after some hassle (#24) managed to get the code running. I can confirm all of your observations @Naesstrom:

1. The RFM is only enabled if the MOSI/MISO connections are swapped.
2. The frequency ends up wrong.
3. The nanohab code manages to connect to the RFM, but fails at connecting to the MQTT.

I will try to look into this a bit further.

[2019-01-09 20:06] whyz commented on #8
fwiw, I have the exact same issue - the requested frequency isn't set. Happy to help in any way I can.

[2019-01-13 13:27] kalj commented on #22
The problems seem to have been due to the Adafruit RFM69HCW BoB requiring the RST pin to be wired to GND. In fact, swapping the MISO/MOSI connections did not make it setup successfully at all, we just didn't check. The 'wrong frequency' was due to simply reading 0xFF for any registers, and `0xFFFFFF*FSTEP = 16777215*61.03515625 = 1023999938.96 `. This can probably be closed.

Please add to the REA

[2019-01-13 13:48] kalj commented on #20
See #22 and #25 . Can probably be closed.

[2019-01-16 08:39] kalj commented on #8
I guess we can have another go at this now that we have figured out the problem with #20 & #22 ?

[2019-01-16 20:31] dogmatic69 commented on #24
I am running 1.8.9 built locally and it can compile just fine. Did you try compile one of the more basic blink sketch or similar from the esp libs?

[2019-01-16 21:55] dogmatic69 commented on #22
Seems that you should pull it down to reset.

[2019-01-16 21:58] dogmatic69 commented on #19
You choose the version you want when you install it, so if you don't want beta don't choose it.

[2019-01-17 09:46] Naesstrom commented on #22
Hmm, then it should be done in the code then... I'm running mine now with gnd connected to it and it seems to be running fine

[2019-01-18 21:40] dogmatic69 commented on #20
Edit: removed pointless debug of registries not being set correctly

[2019-01-19 06:59] kalj commented on #20
@dogmatic69 Are your issue the same as the one we eventually sorted out in #22 ? Many of us had this exact problem when the MOSI/MISO wires were swapped and/or leaving the RST pin of the Adafruit RFM69HCW BoB unwired to ground. Using the [new schematic](https://raw.githubusercontent.com/bphermansson/EspSparsnasGateway/f52001e63187a0d3b9825fd4b0f0b7b99356b538/EspSparsnasGateway_schem_Nodemcu.png) f

[2019-01-19 07:14] dogmatic69 commented on #20
Was missing the reset connected to ground! Now the registries are written.

[2019-01-19 07:35] bphermansson commented on #20
Great work! Since I lack time for this project I invited Naesstrom and Freland as collaborators. Anyone else wanna join?

[2019-01-19 07:46] kalj commented on #20
@bphermansson I would love to tag along. :)

[2019-01-19 07:53] dogmatic69 opened #28 "Bad data"
Now I have it running, but the data seems to be bad. I've tried to change the flag in the config mentioned in the readme but that did not help.

[code]

output:

[code]

[2019-01-19 20:58] dogmatic69 commented on #28
Got it working now by commenting out the hard coded value for the sensor before `initialize`. Not sure why that is even there when you are setting it above or via MQTT.

Seen some other posts here about removing it so maybe it should be removed totally...
[code]

[2019-01-20 15:51] dogmatic69 commented on #8
Setting frequency seems to now work, as long as you remove the other line as mentioned above.

Listening on 102399999936hz seems to be a problem with wiring, maybe time to close this ticket?

[2019-01-20 15:56] dogmatic69 opened #30 "MQTT is not stable, many missed packets."
After running for a while this is my logs, you can see many missed pakets. The Sparsnas is sending around every 15 seconds (seen in the serial debugger), but the MQTT subscriber is only getting a fraction of what is sent.

Look at the `seq` below, this is what MQTT is actually processing.

[code]

Messages are sent much more frequently...

[code]

[2019-01-20 15:57] dogmatic69 commented on #30
I have debugged the pubsub package and the code is run all the way to at least the below line, and the result is true as I added some code to debug that.

```rc = _client->write(buf+(MQTT_MAX_HEADER_SIZE-hlen),length+hlen);```

[2019-01-21 07:05] Naesstrom opened #31 "Add software RST since it's missing"
So reading up on the [manual for the BOB](https://cdn-learn.adafruit.com/downloads/pdf/adafruit-rfm69hcw-and-rfm96-rfm95-rfm98-lora-packet-padio-breakouts.pdf) I found a couple of pieces that might be interesting here.

1. Define a rst pin
[code]
### Setup
We begin by setting up the serial console and hard-resetting the RFM69
[code]

2. Setting the transmit power needed for the **HCW** board
### I

[2019-01-21 07:14] Naesstrom commented on #28
Thanks, I'll make sure to edit that out of the code!

[2019-01-21 07:14] #28 closed, assigned to nobody

[2019-01-21 08:00] Naesstrom commented on #24
I tried this today and got the same errors with 1.8.8. Since @dogmatic69 got it working on 1.8.9 I'm guessing there's some breaking changes with 1.8.8 that's fixed in 1.8.9

[2019-01-21 09:12] per1234 commented on #24
If you take a look at the preprocessed sketch output, you can see the problem:
[code]
The Arduino IDE generates function prototypes for all functions in .ino files which don't already have a prototype. Usually the Arduino IDE does a good job of this but in some rare cases it inserts the prototypes in the wrong place. That is what has happened here. The `#include` directive for Arduino.h must come

[2019-01-21 09:41] dogmatic69 commented on #31
Does TX power have any relevance in this project? We are receiving data only, no need to transmit.

[2019-01-21 10:06] Naesstrom commented on #24
Fantastic @per1234 I've moved them all to the top but something still seems to be missing. This time in the callback.ino
Updated fork is [here](https://github.com/Naesstrom/EspSparsnasGateway/blob/master/EspSparsnasGateway.ino).

Error:
[code]

[2019-01-21 10:46] Naesstrom commented on #31
Ah true, so then it's only the setup we need to add and assign rst to a free pin!

[2019-01-21 20:18] lindehoff commented on #24
I think you will find your answer here: https://github.com/bblanchon/ArduinoJson/issues/756
Seams to be a bug in the beta version of ArduinoJson use the stable version instead.

[2019-01-21 20:24] dogmatic69 commented on #24
This Json issue is already reported here and is unrelated to the initial error. https://github.com/bphermansson/EspSparsnasGateway/issues/19

[2019-01-21 20:24] dogmatic69 commented on #19
This ticket should be closed (it is not really a bug, only information). It should be placed in the README

[2019-01-21 20:41] dogmatic69 commented on #1
This should be closed, it has been a year and these other projects are not interested.

MySensors closed the ticket
OpenMQTTGateway says if they wanted a meter they would build the led blink reader and skip sparsnas.

It's a dead project before it even starts. Had @Hedda perhaps make PR's to these other projects it might have been different but I doubt anything is going to happen.

[2019-01-21 20:54] dogmatic69 commented on #7
The pubsub lib already implements a keepalive (`MQTT_KEEPALIVE`) that is pre-set to 15 seconds. There is no need to add another.

[2019-01-21 20:56] dogmatic69 commented on #14
There is already a line setting a default frequency

[code]

This issue can be closed

[2019-01-21 20:57] dogmatic69 commented on #15
<del>Seems like a lot of work for a little gain, there is enough issues with the lib as it is before more code is added. We should at the very least fix what is already there.</del>

Found a lib that should give this functionality out the box, https://github.com/tzapu/WiFiManager

[2019-01-21 21:09] dogmatic69 commented on #30
After more debugging last night it started "working" and every single message was sent to MQTT.

Tonight I recompiled the same code and nothing is getting sent again. There is something really strange going on.

[2019-01-22 08:02] kalj commented on #31
Great! This is probably the more correct way of doing this, rather than the crude RST-to-GND hack.

[2019-01-22 08:12] kalj commented on #31
We need to make sure to not be too specific to the Adafruit BoB. I think many people are using the plain RFM69HCW module and it would be great to have everything somewhat general. As far as I understand, the whole RST issue was only experienced using the Adafruit BoB. Can we generalize the code and/or the wiring?

[2019-01-22 10:26] Naesstrom commented on #31
Hmm, the wiring will probably have to be 2 different drawings since the module doesn't have that one but the code could be the same i guess... No coder tough but the program shouldn't stop if nothing happens when enabling rst?

[2019-01-22 10:38] kalj commented on #31
Yeah, two different wirings or an explanation of the main differences is
probably enough.

I can look into setting up something robust for the code.

On Tue, Jan 22, 2019, 11:26 Erik Näsström <notifications@github.com wrote:

[2019-01-22 20:34] #19 closed, assigned to nobody

[2019-01-22 20:35] #1 closed, assigned to nobody

[2019-01-22 20:36] #8 closed, assigned to nobody

[2019-01-22 20:37] #17 closed, assigned to nobody

[2019-01-22 20:43] dogmatic69 commented on #7
I have configured the ping timeout to a larger value and in 20 minutes have not had a single re-connection.

[2019-01-22 20:43] #7 closed, assigned to nobody

[2019-01-22 20:49] dogmatic69 commented on #18
fixed in 5d5d32f4909108f29367809c0334021a61500491

[2019-01-22 20:49] #18 closed, assigned to nobody

[2019-01-22 20:57] dogmatic69 commented on #31
I've done some quick tests and I am not convinced on the ground -> rst issue.

Without it connected radio does not start.

[code]

So with the ground connected and started I disconnect ground and then it stops transmitting data.

[code]

[2019-01-23 11:36] dogmatic69 commented on #22
I'm going to go ahead and close this issue as the code fixes are now in and the other part seems to be a hookup issue. If you still got an error open a new ticket for it.

[2019-01-23 11:36] #22 closed, assigned to nobody

[2019-01-23 11:43] dogmatic69 commented on #20
This should now be sorted. If still getting that it listens to the wrong frequency check the wiring and make sure that registries that are written to actually have the correct values (eg: write -> read -> compare value). If that does not work the frequency is not being written to the registry and is probably due to wiring issue.

[2019-01-23 11:43] #20 closed, assigned to nobody

[2019-01-23 11:44] dogmatic69 opened #34 "OTA (Over the air) updates do not work"
As per title, I tested this briefly and it does not work. Seems to be a load of commented out code.

[2019-01-23 11:52] #24 closed, assigned to nobody

[2019-01-23 11:54] dogmatic69 opened #35 "Extract config from the code so it does not need to be commited to the repo"
Less chance of someone posting their wifi creds etc if its not in here.

We can include a config file that is ignored by git and have an example people can use.

[2019-01-24 19:55] dogmatic69 opened #37 "Use the RFM69 libs directly"
Currently there is a "copy" of that lib in here meaning we need to maintain it. We should replace all the RMF69 code with what is provided with the [lib](https://github.com/LowPowerLab/RFM69).

That will also make this work on more boards out the box.

[2019-02-18 22:51] dogmatic69 opened #38 "Flash LED each time data is sent"
per title.

[2019-02-18 22:52] dogmatic69 commented on #30
Seems to be stable now. Not seen any issues after weeks and many restarts

[2019-02-18 22:52] #30 closed, assigned to nobody

[2019-07-02 09:54] bphermansson opened #39 "Merging or starting over?"
Looking at the code now I think it's a mess... I see some interesting forks, but I wonder why most of you have removed the extra source files and put all code in EspSparsnasGateway.ino?
I'm thinking of making a "v2.0", but I like splitting the code. Any good reasons why I shouldn't?

[2019-07-10 08:15] dogmatic69 commented on #39
@bphermansson you are the one that wrote the code :joy:

Have a look at the blame on the `EspSparsnasGateway.ino` file and you will see the overwhelming majority of code is yours. Only changes I can see are bug fixes unless you want to highlight some specifics rather than sweeping statements.

[2019-07-10 10:19] bphermansson commented on #39
True:)
I mean like in the feature/cleanup fork. But nevermind, I've started work on a v2 in Platormio/Atom. The code will be much cleaner and split in several files.

[2019-07-10 10:28] dogmatic69 commented on #39
I merged it because there is so much code that is not used at all. Once all in the same place I had plans to split it out like you say.

[2019-07-10 18:16] bphermansson commented on #39
Ok, that's a good thought.

[2019-09-14 05:33] #39 closed, assigned to nobody

[2019-09-14 05:33] bphermansson commented on #35
Fixed in the latest version.

[2019-09-14 05:33] #35 closed, assigned to nobody

[2019-09-14 05:36] bphermansson commented on #38
You maybe can create a PR on that?

[2019-09-14 05:42] bphermansson commented on #34
Should work now.

[2019-09-14 05:42] #34 closed, assigned to nobody

[2019-09-14 05:46] riksarchen opened #41 "Socket error"
MQTT connects and then disconnects within a second.

1568413360: Socket error on client EspSparsnasGatewayV2, disconnecting.

Worked fine with old version.

Hardware i use is a nodemcu esp8266, same as the one described in the guide.

[2019-09-14 08:09] bphermansson commented on #41
Tried to checkout and use the v1_original branch?
Do you use Mosquitto as broker software? If you do, try running it from the command line with the -d parameter.

[2019-09-15 19:14] riksarchen commented on #41
Tried v1. It does not seems to even try MQTT connection. I also tried -d and -v to see log.

V1 does not connect at all, v2 connect and CONNACK is sent but then it's disconnected with Socket error.

I'll try to swap the Amico ESP8266 to a wemos d1 mini.

[2019-09-24 12:29] bphermansson commented on #38
I've added three leds and made some code for them flashing. See the withThreeLeds branch.

[2019-09-24 12:29] #38 closed, assigned to nobody

[2019-09-28 06:32] riksarchen opened #42 "Leds definition in settings.h"
The definition of leds are incorrect. Should be RED_LED, GREEN_LED etc not red_led, green_led.

[2019-09-28 06:41] riksarchen commented on #41
Tried with wemos D1 mini also now but still gets socket error as soon as it connects.

[2019-10-01 19:28] dogmatic69 commented on #42
Or even better LED_RED, LED_GREEN :+1:

Feel free to make a PR, nice easy change to make.

[2019-10-02 10:01] #42 closed, assigned to nobody

[2019-10-02 10:07] bphermansson commented on #37
I tried to get this working but failed. Seems you have to adjust settings in the lib itself for it to work in this application, and then the meaning with using the lib is almost gone.
There shall be a possibility to change the library files at compile time with PlatformIO, but I don't think i'ts worth it.

[2019-10-02 10:07] #37 closed, assigned to nobody

[2019-10-02 10:09] bphermansson opened #44 "Info about the status leds is not in README."
So it has to be added.

[2019-10-02 10:12] bphermansson opened #45 "Lack of info when not in debug mode"
Maybe it's a good idea to present more info on the serial port when running in normal mode, ie not with DEBUG active? Like IP-adress, topics and such.

[2019-10-02 10:14] bphermansson commented on #41
Got this too now, with a circuit that's been working good before. Calls for further investigation.

[code]

[2019-10-30 17:17] sparvalarva commented on #41
Got the same problem.

[2019-11-24 18:09] nbasse opened #48 "Drastically wrong power reported when there is few pulses"
Wrong power is being reported when there is a low load in the system making it take longer time between the light pulses on the meter.
For example, when there is 250-350W being consumed, the EspSparsnasGateway reports 10-20W, (with 100 pulses/Kwh for the meter, therefore approximately 3 minutes between the pulses).
But higher loads, for example, 2000w gets reported correctly.

Attached serial log

[2019-11-24 18:28] nbasse commented on #48
After performing more experiments, I have found the breaking-point to be somewhere between 599W (still working) and 557W (not working)

(All "real" values are from the original Sparsnäs display)

[2019-11-24 18:36] riksarchen commented on #48
I think the problem is not the decoded power but the number of pulses within a timespan.

Your setup was 100 pulses per kWh, Confirm?

[2019-11-24 19:11] nbasse commented on #48
Yes, that is correct. 100 pulses /KWh

[2019-11-27 21:23] bphermansson commented on #41
@riksarchen, you don't have this problem with your pubsub-version?

[2019-11-27 21:28] bphermansson commented on #31
Open this again if it's still relevant.

[2019-11-27 21:28] #31 closed, assigned to nobody

[2019-11-27 21:49] bphermansson commented on #48
I've added a function to print raw power values to the serial port. Not tested.

[2019-11-28 09:51] nbasse commented on #48
Not sure how I can test this. I am currently using @riksarchen fork as it has some tweaks to make it work with the board he deigned.

Some sort of raw values are already being printed, (see the log in my first post) are these different from the ones you added?

[2019-12-15 21:22] SweNilsson opened #50 "Enable second transmitter id"
By monitoring more than one energy meter at home it would be possible to keep consumption from the Car and the Heating system on separate "tabs". I imagine that the code change would be rather small, but I can't achieve this myself with my lacking programming skills. My current need is to receive data from two transmitters.

My idea to solve the need:
Setup transmitter_id2 in settings.h
either add

[2020-02-13 21:20] Sperra commented on #50
You can try this one: https://github.com/Sperra/EspSparsnasGateway

[2020-02-14 15:00] SweNilsson commented on #50
Thanks @Sperra ! What is the json value ids? I've tried to check the code but I'm not qualified to read it. Today I have a sensor reading this "value_json.watt" but now I need two different I guess?

[2020-02-14 16:17] Sperra commented on #50
During startup and initializing it uses the following for information and debug.
EspSparsnasGateway/values
EspSparsnasGateway/debug

Meassurment are sent with the following
EspSparsnasGateway/Sensor1/values
EspSparsnasGateway/Sensor1/debug
EspSparsnasGateway/Sensor2/values
EspSparsnasGateway/Sensor2/debug

Values are the same as before: seq, timestamp, watt, total, battery and rssi

I have the fol

[2020-02-14 17:15] SweNilsson commented on #50
Great! Exactly what I was looking for

[2020-02-14 17:15] #50 closed, assigned to nobody

[2020-02-14 21:15] bphermansson commented on #50
Great work! Just wished it'd been a PR here instead of a fork.

[2020-02-15 06:53] Sperra commented on #50
Sprry my faiult! Totaly new to GitHub. I will try to do a PR  during het weekend.

[2020-02-15 12:32] dogmatic69 commented on #50
It's easy to make a [PR from a fork](https://github.com/bphermansson/EspSparsnasGateway/compare/master...Sperra:master)

It needs cleaning up before being merged though.

[2020-03-26 13:24] fredrike commented on #48
Could this be the same issue: https://github.com/tubalainen/sparsnas_decoder/pull/12/files

[2020-03-28 00:28] fredrike commented on #48
@nbasse, we need to see your `data4` value for the low power mode, but I suspect that we might have a case of `data4 = 3` which is not covered in the code..

https://github.com/bphermansson/EspSparsnasGateway/blob/38d3c45e60781a739a027dc910163e9dcb6d83e7/src/RFM69functions.cpp#L403-L410

[2020-03-30 19:02] nbasse commented on #48
@fredrike
Data4 seems to be 1 at higher loads when everything is working and 0 when at lower loads when wrong power is being reported.

`Seq 18017: 1585594856, 624.72 W, total: 1190 kWh, battery 100%, rssi -108dBm. Power(raw): 59009 Vcc: 2993.00mV, Data4: 1`

`Seq 17972: 1585594181, 17.95 W, total: 1190 kWh, battery 100%, rssi -123dBm. Power(raw): 7478 Vcc: 2993.00mV, Data4: 0`

[2020-03-31 08:18] fredrike commented on #48
Great! What is the consumtion with `Data4 = 0` and `Power(raw) = 7478` ?

I.e., what formula should we use for that case? Perhaps try to extract 10 values and corresponding values from the display.

[2020-03-31 11:59] nbasse commented on #48
Yes, started doing this yesterday, but only had the time to get 5 or 6 value pairs. And since the original display only shows whole watts, I think some more values would be good to get a better formula.

I started by fitting a straight line to the values. but I'm not sure where I should add the parameter for pluses/KWh. I will look into this more later today or tomorrow and try to get some more re

[2020-03-31 12:21] fredrike commented on #48
Just post the readings here and I can try to find the factor for you.

[2020-04-01 12:20] fredrike opened #54 "Support for MQTT-Discovery in HA"
This is not really an issue as I already have a working draft. More a heads-up that https://github.com/fredrike/EspSparsnasGateway/commit/ce54c56d7d22fca426e0615b3bc3ebdf0c01dba9 https://github.com/fredrike/EspSparsnasGateway/tree/auto_discovery adds support for https://www.home-assistant.io/docs/mqtt/discovery/.

I'm currently testing and cleaning the code a bit but will send a PR when I think it

[2020-04-01 20:02] nbasse commented on #48
OK, Here are some readings!
watt =[ 508 466 456 460 465 465 468 200 171 150 141 133 120 114 184 268 263 291 353]
raw = [4530 4934 5042 5003 4946 4948 4913 11501 13421 15341 16301 17261 19181 20055 12471 8575 8730 7895 6512]

Apparently it is not a linear relationship between the value pairs as I expected.
See attached plot
![data4_0_valuepairs](https://user-images.githubusercontent.com/27419264/78

[2020-04-02 06:46] fredrike opened #55 "Suggestion: create a Sparsnas class that handles everything related to the received package"
It's been bugging me the whole day yesterday and I think the sparsnäs decoding should be extracted to a separate class. This will enable easy access to multiple sensors like @Sperra suggested and also much cleaner code base.

My suggestion is that we move most parts of `interruptHandler()` into a class like this one:

[code]

This means that https://github.com/fredrike/EspSparsnasGateway/blob/ce54

[2020-04-02 07:05] fredrike commented on #55
We could use the code from https://github.com/merbanan/rtl_433/blame/master/src/devices/ikea_sparsnas.c (it is quite clean). Perhaps @merbanan can help with that (would be really nice to "borrow" his sensor bruteforce part.

[2020-04-02 08:25] merbanan commented on #55
@slundell is the original author. But you are free to use the code under the gplv2 license, if you need another license you have to ask the original author.

[2020-06-12 06:14] fredrike commented on #54
My changes can't be merged until the https://github.com/bphermansson/EspSparsnasGateway/pull/52 is reverted.

[2020-06-14 06:27] #54 closed, assigned to nobody

[2020-07-16 20:54] bphermansson commented on #55
Looks like a good idea. Why don't make a test branch that uses @merbanans code?

[2020-07-18 14:23] fredrike commented on #55
I'll take a look at this after vacation time (perhaps even in November 😄). I need to solder a dev unit as I've actually moved to production now.

[2020-07-19 14:44] #44 closed, assigned to nobody

[2020-08-01 12:04] nbasse commented on #48
I have now fitted a exponential model to the values I recorded and extracted some coefficients.
I have successfully added it to the code and get good values even when data4 = 0. See https://github.com/nbasse/EspSparsnasGateway/commit/9f872e2a968904546745ac9a8cc33a35112ee8b3

I'm not sure if I correctly accounted for the number of pulses. So someone with a value other than 100 should try this to se

[2020-08-02 08:06] fredrike commented on #48
Great job!

I suggest that you send this as a pull-request so @bphermansson can merge it.

[2021-05-28 10:30] mircopz commented on #17
@leifmariposa did you solve the write error problem with RFM69? I'm facing the same issue...

[2021-05-28 17:54] leifmariposa commented on #17
No, I couldn't get it working...

[2021-05-31 15:45] mircopz commented on #17
@leifmariposa I don't know if you are still interested in... I saw that you participated in this topic https://forums.adafruit.com/viewtopic.php?f=19&p=672114
I had the same registers dump when reading, and I solved it when I changed reset pin logic. It's not active low (as the 99% of devices), but active high! So I was communicating with it in reset conditions, and maybe only some registers latch

[2021-05-31 19:44] leifmariposa commented on #17
Great that you got it working! I'm using another solution now, but thanks for the info!